.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background: linear-gradient(189deg, #000000, #878787, #003750);
  background-size: 600% 600%;
  animation: AnimationName 19s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fly-in {
  
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  20% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}


.Name {
  text-shadow: 0px 0px 15px black;
  animation: 3s ease-out 0s 1 fly-in;
  color: white;
}


.links {
  animation: 3s ease-out 0s 1 fly-in;
  margin: 0px 30px;
  filter: drop-shadow(0px 0px 10px #000000);
}


#aboutbox {
  animation: 5s ease-out 0s 1 fly-in;
  margin-top: 100px;
  width: 800px;
  font-size: 14px;
}

#abouttext {
  text-shadow: 0px 0px 5px black;
}



